<footer class="footer">
  <nav class="footer__shop">
    <h2 class="footer__shop--title">Tienda</h2>
    <ul>
      <li>
        <a href="https://.adalab.es"></a>Productos
      </li>
      <li><a href="https://adalab.es"></a>Cajoneras</li>
      <li><a href="https://adalab.es"></a>Para toda la casa</li>
      <li><a href="https://adalab.es"></a>Habitaciones</li>
    </ul>

  <nav class="footer__we">
    <h2 class="footer__we--title">Nosotros</h2>
    <ul>
      <li><a href="https://adalab.es/"></a>Nuestra guia</li>
      <li><a href="https://adalab.es/"></a>Nuestro diseño</li>
      <li><a href="https://adalab.es/"></a>Nuestra historia</li>
      <li><a href="https://adalab.es/"></a>Ayuda</li>
    </ul>
  </nav>

  <nav class="footer__contact">
    <h2 class="footer__contact--title">Contacto</h2>
    <ul>
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
    </ul>
    <div class="rrss">
      <a class="rrss__iconorrss" href="https://adalab.es/"
        ><img src="./assets/images/LinkedIn.png" alt="linkdin icon"
      /></a>

      <a class="rrss__iconorrss" href="https://adalab.es/"
        ><img src="./assets/images/instagram.png" alt="instagram icon"
      /></a>

      <a class="rrss__iconorrss" href="https://adalab.es/"
        ><img src="./assets/images/twitter.png" alt="twitter icon"
      /></a>
    </div>
  </nav>
</footer>
