<footer class="footer">
  <article class="footer__shop">
    <title class="footer__shop--title">tienda</title>
    <ul>
      <li>productos</li>
      <li>cajoneras</li>
      <li>para toda la casa</li>
      <li>habitaciones</li>
    </ul>
  </article>

  <article class="footer__we">
    <title class="footer__we--title">nosotros</title>
    <ul>
      <li>nuestra guia</li>
      <li>nuestro diseño</li>
      <li>nuestra historia</li>
      <li>ayuda</li>
    </ul>
  </article>

  <article class="footer__contact">
    <title class="footer__contact--title">contacto</title>
    <ul>
      <li>ayuda@openspaces.com</li>
      <li>socios</li>
      <li>rrss</li>
    </ul>
  </article>
</footer>
