<header class="header">
  <nav class="container">
    <a
      class="container__hamburguer"
      href="https://adalab.es/"
      title="Click here to Adalab's website"
      ><img src="./assets/images/hamburger.png" alt="hamburguer menu icon" />
    </a>

    <ul class="container__menu">
      <li>
        <a
          class="container__menu--menuItem"
          href="https://adalab.es/"
          title="adalab.es"
          >Productos</a
        >
      </li>
      <li>
        <a
          class="container__menu--menuItem"
          href="https://adalab.es/"
          title="adalab.es"
          >Colecciones</a
        >
      </li>
      <li>
        <a
          class="container__menu--menuItem"
          href="https://adalab.es/"
          title="adalab.es"
          >Tiendas</a
        >
      </li>
      <li>
        <a
          class="container__menu--menuItem"
          href="https://adalab.es/"
          title="adalab.es"
          >Inicio</a
        >
      </li>
    </ul>

    <a id="header" class="container__logo"
      ><img src="./assets/images/logo.png" alt="open spaces logo"
    /></a>
  </nav>
  <nav class="module1">
    <h1 class="module1__h1">Disfruta creando espacios</h1>
    <button class="module1__button1">
      <a href="https://adalab.es/" title="adalab.es"> Comprar ahora</a>
    </button>
  </nav>
</header>
