<header class="header">

    <nav class="container">
        <a 
        class="container__hamburguer"
        href="https://adalab.es/"
        title="Click here to Adalab's website"
        ><img src="./assets/images/hamburger.png" alt="hamburguer menu icon"/>
        </a>
        <ul class="container__menu">
          <li<a href="" title="adalab.es"></a>Productos</li>
          <li<a href="" title="adalab.es"></a>Colecciones</li>
          <li<a href="" title="adalab.es"></a>Tiendas</li>
          <li<a href="" title="adalab.es"></a>Inicio</li>
        </ul>
        <a 
        id="header" 
        class="container__logo--image"><img        
        src="./assets/images/logo.png"
        alt="open spaces logo"
      /></a>
        
    </nav>
</header>
