<header class="header">
  <nav class="headerContainer">
    <a
      class="hamburguer"
      href="https://adalab.es/"
      title="Click here to Adalab's website"
      ><img src="./assets/images/bars-solid.svg" alt="hamburguers menu icon" />
    </a>

    <div class="logo">
      <img
        class="header__logo--item"
        src="./assets/images/logo.png"
        alt="open spaces logo"
      />
    </div>
  </nav>
  <nav class="menuContainer">
    <ul class="menu">
      <li class="item">Productos</li>
      <li class="item">Colecciones</li>
      <li class="item">Tiendas</li>
      <li class="item">Inicio</li>
    </ul>
  </nav>
</header>
