<main>
  <section class="section1">
    <article class="enjoy">
      <h1>Disfruta creando espacios</h1>
      <a class="button1" href="">Comprar ahora</a>
    </article>
  </section>

  <section class="section2">
    <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>

    <article class="article">
      <img src="./assets/images/icon_1.png" alt="dibujo mesa decorada" />
      <h2>Lo que necesitas</h2>
      <p>una linea de productos diseñados para todos tus espacios</p>
    </article>

    <article class="article">
      <img
        src="./assets/images/Biodegradable bag.png"
        alt="dibujo bolsa biodegradable"
      />
      <h2>Materias primas sustentables</h2>
      <p>Todos los productos con materias primas sustentables</p>
    </article>

    <article class="article">
      <img
        src="./assets/images/Park.png"
        alt="dibujo señal direccion al parque"
      />
      <h2>Guía</h2>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article class="article">

  </section>

  <section class="section3">
    <article class="orange">
      <img src="./assets/images/go_6.png" alt="dibujo camión en marcha"/>
      <h2>Envío gratis garantizado</h2>
      <p>Envío gratis en compras desde 100</p>
      <a class="button2" href="">Comprar ahora</a>
    </article>
  </section>

  <section class="section4">
    <article class="creating">
      <h2>Disfruta creando espacios</h2>
      <p>Una línea de productos diseñados para todos tus espacios</p>
      <a class="button3" href="">Comprar ahora</a>
    </article>
  </section>
  <section class="section5">
    <img src="./assets/images/creando-espacios.jpg" alt=""/>
  </section>
</main>
