<section class="module2">
  <!--wrapper-->
  <div class="module2__title">
    <!--clase para grid-->
    <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
  </div>
  <!--2ªclase para grid-->
  <div class="module2__gridContainer">
    <article class="module2__gridContainer--article">
      <img src="./assets/images/icon_1.png" alt="dibujo mesa decorada" />
      <h2>Lo que necesitas</h2>
      <p>Una linea de productos diseñados para todos tus espacios</p>
    </article>

    <article class="module2__gridContainer--article">
      <img
        src="./assets/images/Biodegradable bag.png"
        alt="dibujo bolsa biodegradable"
      />
      <h2>Materias primas sustentables</h2>
      <p>Todos los productos con materias primas sustentables</p>
    </article>

    <article class="module2__gridContainer--article">
      <img
        src="./assets/images/Park.png"
        alt="dibujo señal direccion al parque"
      />
      <h2>Guía</h2>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </div>
</section>
