.footer {
  position: relative;
  width: 100%;
  height: 545px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  background-color: $snorlax;
  color: $lightGreen;
  font-family: $font;
  padding-top: 15px;
  padding-bottom: 30px;
  &__shop {
    font-size: 20px;
    padding-bottom: 10px;
    padding-right: 80px;
  }

  &__we {
    font-size: 20px;
    padding-bottom: 10px;
    padding-right: 100px;
  }
  &__contact {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

.rrss {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  &__iconorrss img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }
}

.footer__shop li {
  list-style: none;
  text-decoration: none;
  font-weight: 300;
}
.footer__shop a {
  text-decoration: none;
  color: $lightGreen;
}
.footer__we li {
  list-style: none;
  text-decoration: none;
  font-weight: 300;
}
.footer__we a {
  text-decoration: none;
  color: $lightGreen;
}
.footer__contact li {
  list-style: none;
  font-weight: 300;
}
.footer__contact a {
  text-decoration: none;
  color: $lightGreen;
}

.arrow {
  position: absolute;
  bottom: 20px;
  right: 15px;
  display: block;

  img {
    width: 50px;
  }
}
