.header {
  max-width: 100%;
  height: 100vh;
  position: sticky;
  top: center;
  background-image: url(../images/header.jpg);
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--hamburguer {
      width: 24px;
      height: 24px;
      position: sticky;
      top: 55px;
      left: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__logo {
    height: 100px;
    width: 100%;
    margin-top: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__menu {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .header {
    &__container {
      &--logo {
        display: flex;
        justify-content: center;
      }
    }
  }
  @media all and (min-width: $desktop) {
    .header {
      &__container {
        &--hamburguer {
          display: none;
        }
      }
      &__menu {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
