.headerContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between 25px;
  background-image: url(../images/header.jpg);
  background-position: top;
  background-size: cover;
}
.hamburguer {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 55px;
  left: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 100px;
  width: 100%;
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menuContainer {
  display: none;
}

@media all and (min-width: $tablet) {
  .menuContainer {
    display: none;
  }
}

@media all and (min-width: $desktop) {
  .menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }
}
