.module2 {
  background-color: $cream;
  color: $snorlax;
  display: grid;
  grid-template-columns: 1fr;
  font-family: $font;
  &__title {
    text-align: center;
    padding: 37px 20px 37px 20px;
  }
  &__title h2 {
    padding-top: 15px;
    font-size: 24px;
  }
  &__gridContainer {
    display: grid;
    grid-gap: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
    &--article {
      width: 208px;
    }
    &--article img {
      width: 90px;
      height: 90px;
      margin-bottom: 47px;
    }
    &--article h2 {
      font-size: 20px;
      margin-bottom: 12px;
    }
    &--article p {
      font-size: 16px;
      margin-bottom: 18px;
    }
  }
}

.section3 {
  background-color: $orange;
  font-family: $font;
  color: $white;
  text-decoration-style: none;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__truck {
    height: 98px;
    width: 112px;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 300;
  }
  &__button1 {
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }
}
.module4 {
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__first {
    height: 339px;
    width: 100%;
    background-color: $cream;
    color: $snorlax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    &--button3 {
      background-color: $snorlax;
      color: $white;
      font-size: 16px;
      text-decoration: none;
      width: 176px;
      padding: 12px 24px 12px 24px;
      margin-top: 24px;
      animation: jackInTheBox;
      animation-duration: 2s;
    }
  }
}
.module4__first h2 {
  font-size: 24px;
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 15px;
}
.module4__first p {
  margin-bottom: 25px;
  margin-left: 2px;
  font-size: 14px;
}

.section5__bathroom {
  display: flex;

  img {
    width: 100%;
  }
}
.section5__bathroom {
  display: flex;
  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .module1 {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: right;
    margin-left: 147px;
    width: 430px;
    height: 112px;
    &__title {
      font-size: 36px;
      text-align: left;
    }
  }
  .module2 {
    grid-template-rows: 1fr 1fr;
    height: 600px;

    &__gridContainer {
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      &--article {
        padding-bottom: 50px;
        padding-left: 70px;
      }
    }
  }
  .module4 {
    &__first h2 {
      font-size: 30px;
    }
  }
  @media (min-width: 1200px) {
    .module2 {
      &__gridContainer {
        margin-left: 250px;
        transform: translateX(-40px);
      }
      &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      &__title h2 {
        width: 799px;
        font-size: 36px;
      }
    }
    .module4 {
      background-color: $cream;
      display: flex;
      flex-direction: row;
      &__first {
        width: 50%;
        height: 100%;
      }
      &__bathroom {
        width: 50%;
        height: 100%;
      }
    }
  }
}
