.module2 {
  background-color: $cream;
  color: $snorlax;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 37px;
  font-family: $font;
  &__title {
    text-align: center;
    margin: 41px 47px 0 45px;
  }
  &__title h2 {
    font-size: 24px;
  }
  &__gridContainer {
    display: grid;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    &--article {
      width: 208px;
    }
    &--article img {
      margin-bottom: 47px;
    }
    &--article h2 {
      font-size: 20px;
      margin-bottom: 12px;
    }
    &--article p {
      font-size: 16px;
      margin-bottom: 18px;
    }
  }
}

.section3 {
  background-color: $orange;
  font-family: $font;
  color: $white;
  text-decoration-style: none;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__truck {
    height: 98px;
    width: 112px;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 300;
  }
  &__button1 {
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }
}
.section4 {
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__first {
    height: 339px;
    width: 100%;
    background-color: $cream;
    color: $snorlax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--button3 {
      font-weight: 600;
      text-decoration: none;
      background-color: $snorlax;
      color: $white;
      padding: 5px;
      width: 176px;
      height: 48px;
      align-items: center;
      text-transform: capitalize;
      text-align: center;
      margin-top: 5px;
    }
  }
}

.section5__bathroom {
  display: inline-block;

  img {
    width: 100%;
  }
}
.section5__bathroom {
  display: flex;
  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .module1 {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: right;
    margin-left: 147px;
    width: 430px;
    height: 112px;
    &__title {
      font-size: 36px;
      text-align: left;
    }
  }
}
@media (min-width: 1200px) {
}
