.module1 {
  font-family: $font;
  color: $snorlax;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translatey(-360px);
  &__title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  &__button1 {
    text-decoration: none;
    background-color: $snorlax;
    color: $white;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
  }
}

.module2 {
  background-color: $beish;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font;
  color: $snorlax;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;

  &__title {
    width: 100%;
    font-size: 24px;
    padding: 41px 47px 40px 45px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  &__gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    &--article {
      width: 250px;
    }
  }
  &__gridContainer img {
    width: 90px;
    height: 99px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &__gridContainer h2 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  &__agridContainer p {
    font-size: 16px;
  }
}
.section3 {
  background-color: $orange;
  font-family: $font;
  color: $white;
  text-decoration-style: none;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__truck {
    height: 98px;
    width: 112px;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 300;
  }
  &__button1 {
    font-size: 16px;
    font-weight: 600;
    color: $white;
  }
}
.section4 {
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__first {
    height: 339px;
    width: 100%;
    background-color: $beish;
    color: $snorlax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--button3 {
      font-weight: 600;
      text-decoration: none;
      background-color: $snorlax;
      color: $white;
      padding: 5px;
      width: 176px;
      height: 48px;
      align-items: center;
      text-transform: capitalize;
      text-align: center;
      margin-top: 5px;
    }
  }
}
.section5 {
  position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .module1 {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: right;
    margin-left: 147px;
    width: 430px;
    height: 112px;
    &__title {
      font-size: 36px;
      text-align: left;
    }
  }
}
@media (min-width: 1200px) {
}
